{% extends "base_generic.html" %}

{% block content %}
  <h1>All Courses</h1><hr>

  {% if course_list %}
    <table class="table table-borderd table-sm ">
      {% for course in course_list %}
        <tr>
          <td>
            <img src="{{ course.photo.url }}" width="30" height="30"/>
            <a href="{% url 'course-detail' course.pk %}">
              {{ course.name }}
            </a> 
            <span style="padding-left: 50px;">
              <img src="{{ course.course_specialist.photo.url }}" width="30" height="30"/> 
              <a href="{% url 'course-specialist-detail' course.course_specialist.pk %}">{{ course.course_specialist.name }}</a>
            </span>
          </td>
          <td>
            {% if user.is_authenticated %}
              {% if user.is_superuser == 1 %}
                <a href="{% url 'course-update' course.pk %}">update</a> | <a href="{% url 'course-delete' course.pk %}">delete</a>
              {% endif %}
            {% else %}
              <a href="{% url 'register' %}">Register</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'home-page' %}">Back</a>  
    {% if user.is_superuser == 1 %}
      | <a href="{% url 'course-create' %}">Create Course</a>
    {% endif %}
  {% else %}
    <p>There are no course speciaslits.</p>
  {% endif %}       
{% endblock %}