{% extends "base_generic.html" %}

{% block title %}<title>Online Class Page</title>{% endblock %}

{% block content %}
  <br/>
  {% if user.is_authenticated %}
    {% if user.is_superuser == 1 %}
      <h1>Adminstrator Page</h1><hr>
      <p><a href="{% url 'admin-post-create' %}">Create Post </a> |
        <a href="{% url 'course-specialist-list' %}">Course Specialist List </a> |
        <a href="{% url 'course-list' %}">Course List </a>
      </p>
      {% for post in course_specialist.post_set.all %}
        <img src="{{ course_specialist.photo.url }}" width="30" height="30"/>
        <span style="padding-right:50px; font-weight:bold; font-size:20px;">{{ course_specialist.name }}</span>
        <span style="font-size:12px;">{{post.post_date}}</span><br/>
        <p style="padding-left:35px;">{{ post.content }}</p>
        <p style="padding-left:35px;"><img src="{{ post.photo.url }}" width="300" height="150"/></p>
        {% if user == post.post_creator.name %}
          <span style="padding-left:35px;">
            <a href="{% url 'post-update' post.pk %}">Update</a> |
            <a href="{% url 'post-delete' post.pk %}">Delete</a>
          </span>
        {% endif %}
        <br/><br/>
      {% endfor %}
    {% else %}
      {% if user == course_specialist.name %}
        <h1>Course Specialist {{ course_specialist.name }} Page</h1><hr><br/>
        <h3>Course List</h3>
        <br/>
        {% for course in course_specialist.course_set.all %}
          <img src="{{ course.photo.url }}" width="30" height="30"/>
          <a href="{% url 'course-post-list' course.id %}">{{ course.name }}</a>
          <span style="padding-left: 30px;">Students : {{ course.registerstudent_set.count }}<br/><br/>
        {% endfor %}
      {% else %}
        <h1>Student {{ user.get_username }} Page</h1><hr><br/>
        <h3>Course List</h3>
        <br/>
        {% for student in students %}
          <img src="{{ student.course.photo.url }}" width="30" height="30"/>
          <a href="{% url 'course-post-list' student.course.id %}">{{ student.course.name }}</a>
          {% if student.course.course_specialist.id != Null %}
            <span style="padding-left: 20px;">
              <img src="{{ student.course.course_specialist.photo.url }}" width="30" height="30"/> 
              <a href="{% url 'course-specialist-detail' student.course.course_specialist.id %}">{{ student.course.course_specialist }}</a>
            </span>
          {% endif %}
          <br/><br/>
        {% endfor %}
      {% endif %}
    {% endif %}
  {% else %}
    <h1>Welcome from IT online class</h1><hr><br>
    <a href="{% url 'create-account' %}">Create Account</a> | 
    <a href="{% url 'course-list' %}">Course List</a> <br><br>

    {% for post in course_specialist.post_set.all %}
      <img src="{{ course_specialist.photo.url }}" width="30" height="30"/>
      <span style="padding-right:50px; font-weight:bold; font-size:20px;">{{ course_specialist.name }}</span>
      <span style="font-size:12px;">{{post.post_date}}</span><br/>
      <p style="padding-left:35px;">{{ post.content }}</p>
      <p style="padding-left:35px;"><img src="{{ post.photo.url }}" width="300" height="150"/></p>
      <br/><br/>
    {% endfor %}
  {% endif %}

  {% load static %}

{% endblock %}